<div class="form-group">
<input type="text" class="form-control" placeholder="Search by Name" style="width: 300px;"[(ngModel)]="searchTerm">
</div>
<table style="width:100%">
    <thead>
      <th>Emp. Id</th>
      <th>Name</th>
      <th>Location</th>
      <th>Email</th>
      <th>Mobile</th>
      <th>Edit</th>
      <th>Delete</th>
    </thead>
    <tbody>
      <tr *ngFor="let emp of empArray |employeefilter:searchTerm;index as i;">
        <td>{{i+1}}</td>
        <td>{{emp.emp_Name|uppercase}}</td>
        <td>{{emp.emp_Loc}}</td>
        <td>{{emp.emp_Email}}</td>
        <td>{{emp.emp_Number}}</td>
        <td><button (click)="editEmp(i)">Edit{{i+1}}</button></td>
        <td><button (click)="deleteEmp(emp)">Delete{{i+1}}</button></td>
      </tr>
    </tbody>
  </table>
